div.clause + div.clause::before{
    content: "∧";
    display: block
}
div.clause{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight:9000pt;
}
span.literal + span.literal::before{
    content: "∨"
}
span.literal input{
    font-size: 40px;
    width: 1.5em;
}
button{
    padding: 10px;
    height:40px;
}
.literal span{
    color: lightgray;
    user-select: none;
    cursor:pointer;
}
.negated.literal span{
    color:black;
}

input{
    font-family: monospace;
}