* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #999;
}

h1 {
    text-align: center;
}

span.game-tag {
    display: inline-block;
    padding: 5px;
    background-color: lightblue;
    outline: 3px solid black;
    margin: 5px;
    border-radius: 5px;
}

button.menu-tag {
    padding: 5px;
    outline: 3px solid black;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.on {
    color: white;
}

div#tags {
    padding: 10px;
    width: 85%;
    outline: 5px solid black;
    background-color: gray;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

div.game {
    background-color: white;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
}

div.game.huge {
    grid-row: span 2;
    grid-column: span 2;
}

div.game.bigc {
    grid-row: span 2;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.game.bigr {
    grid-row: span 1;
    grid-column: span 2;
}

div.game h3 a {
    font-size: 25px;
    font-weight: 900;
}

header {
    text-align: center;
}

footer {
    outline: 4px solid black;
    width: 100%;
}

header img {
    image-rendering: pixelated;
    width: 1000px;
}

div#discord {
    background-color: rgb(0, 43, 122);
    color: white;
    text-align: center;
}

div#discord a {
    color: white
}

div#gamegrid {
    display: grid;
    max-width: 90%;
    background-color: black;
    padding: 8px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 8px;
    row-gap: 8px;
    grid-auto-flow: dense;
    grid-auto-rows: 225px;
}


@media only screen and (max-width: 1000px) {
    header img {
        width: 800px;
    }
}

@media only screen and (max-width: 800px) {
    header img {
        width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    header img {
        width: 500px;
    }
}

@media only screen and (max-width: 550px) {
    header img {
        width: 300px;
    }
}