
html, body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
div.character img{
    background-color: black;
    width: 200px;
}
body{
    background-color: #000020;
    color:#ffffff;
    font-family: sans-serif;
}
#web-content{
    margin: 0px 20px;
    padding: 10px 10px;
}
iframe{
    height: 500px;
}
div.section{
    background-color: #202050;
    padding: 20px;
    width: 1000px;
    margin: 30px auto;
}
div.character{
    background-color: #303080;
    padding: 10px;
    margin: auto;
    width: 800px;
    height: 200px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px 600px;
}
div.character div{
    text-align: center;
}
div.character div h3{
    font-size: 24px;
}
div.character div h4{
    font-size: 20px;
    color: orange;
}
div.character div ul{
    color: #99f;
    font-weight: bolder;
    list-style: none;
    padding: 0px;
}
@media all and (orientation:portrait) {
    #banner-landscape{
        display: none;
    }
}
@media all and (orientation:landscape) { 
    #banner-portrait{
        display: none;
    } 
}

@media only screen and (max-width:1100px){
    iframe{
        height: 400px
    }
    div.section{
        width: 800px;
    }
    div.character{
        width: 600px;
        
    grid-template-columns: 200px 400px;
    }
}
@media only screen and (max-width:900px){
    div.section{
        width: 600px;
    }
    div.character{
        width: 600px;
        
    grid-template-columns: 150px 400px;
    }
}
@media only screen and (max-width:500px){
    iframe{
        width: 400px;
        height: 252px;
    }
}
@media only screen and (max-width:400px){
    iframe{
        width: 300px;
        height: 189px;
    }
}