html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow:hidden;
}


html {
    background-color: black;
    
}

img#logo {
    margin: auto;
    width: 800px;
}

body {
    width: 1200px;
    height: 100vh;
    margin: auto;
    background-color: white;
    text-align: center;
    overflow-y: scroll;
}
#stories{
    display: grid;
    grid-template-columns: auto auto;
}
.story
canvas {
    display: block;
}

@media only screen and (max-width: 1200px) {
    body {
        width: 1000px;
    }

    img#logo {
        width:600px;
    }
}
@media only screen and (max-width: 1000px) {
    body {
        width: 800px;
    }

}
@media only screen and (max-width: 800px) {
    body {
        width: 600px;
    }

    img#logo {
        width:400px;
    }
    h2{
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        width: 400px;
    }

    img#logo {
        width:250px;
    }
}