html,
body {
    padding: 0px;
    margin: 0px;
}

.fullpage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: absolute;

}

nav {
    text-align: left;
    background-color: #335;
    padding: 20px 20px 0px 20px;
}

nav button.systemtab {
    background-color: #333;
    color: #0f0;
    font-family: monospace;
}

nav button.systemtab.selected {
    background-color: #000;
}

nav button {
    padding: 6px;
    border-radius: 12px 12px 0px 0px;
    cursor: pointer;
    font-weight: bold;
}

button.selected {
    background-color: #666;
    color: #fff;
}

#webpage {
    padding: 20px;
    flex-grow: 1;
}

.error {
    color: #f00;
}

.webpage0 {
    color: #0f0;
    background-color: #000;
    font-family: monospace;
}

.webpage0 p,
.webpage0 input {
    font-size: large;
}

.webpage0 input,
.webpage0 button {
    color: #0f0;
    background-color: #000;
    font-family: monospace;
    padding: 10px;
    border-radius: 3px;
}

div.wikibox-break {
    display: inline-block;
    padding: 5px;
    border: 4px solid black;
}

div.wikibox-right {
    float: right;
    right: 20px;
    top: 20px;
    display: inline-block;
    padding: 5px;
    border: 4px solid black;
}

.webpage1 {
    color: #000;
    background-color: #fff;
}

.webpage1 h1 {
    margin: 0px;
}

.webpage1 h2 {

    width: min(100%, 1000px);
    margin: auto;
}

.webpage1 .wiki-article {
    font-family: sans-serif;
    position: relative;
    width: min(100%, 1000px);
    margin: auto;

}

.webpage1 a {
    color: #00f;
    cursor: pointer;
    text-decoration: underline;
}

.webpage1 .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.webpage1 h1 span {
    padding: 3px;
    border-radius: 5px;
    background-color: #555;
    color: white;
}

.webpage2 {
    color: #000;
    background-color: #eec;
    font: georgia;
}

.webpage2 th,
.webpage2 td {
    padding: 8px;
}

.webpage2 th {
    background-color: #000;
    color: white;
}

.webpage2 tr:nth-child(odd) {
    background-color: #ccc;
}

.webpage2 table {
    border-collapse: collapse;
    background-color: #fff;
}

.webpage2 a {
    cursor: pointer;
    text-decoration: underline;
}

.webpage2 a:hover {
    color: #888;
}


.webpage2 .articlestub {
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    margin: 0px;
}

.webpage2 hr {
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    /* Removes the default 3D border effect */
    height: 3px;
    /* Sets the thickness of the line */
    background-color: #333;
    /* Sets the color */
    margin: 20px 0;
    /* Adds spacing above and below */
}

.webpage2 .articlestub h3 {
    margin-top: 0px;
}

.webpage2 .articlestub p {
    margin-bottom: 0px;
}

.webpage2 .article {
    width: min(100%, 800px);
    margin: auto;
}

.webpage2 .articlestub:hover {
    color: #888;
    background-color: #fafade;
}


.webpage3 {
    background-color: #8a0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.webpage3 table {

    border-collapse: collapse;
}

.webpage3 th {
    background-color: #444;
    color: #eee;
}

.webpage3 td {
    background-color: #af1;
}

.webpage3 th,
.webpage3 td {
    padding: 10px;
}

.webpage3 .article {
    width: min(100%, 700px);
}

.webpage3 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.webpage3 hr,
.webpage4 hr {
    border: none;
    /* Removes the default 3D border effect */
    height: 3px;
    /* Sets the thickness of the line */
    background-color: #333;
    /* Sets the color */
    margin: 20px 0;
    /* Adds spacing above and below */
}

.webpage3 a {
    color: #11d;
    font-weight: bold;
    cursor: pointer;
}

.webpage3 a:hover {
    color: #fff;
    text-decoration: underline;
}

.webpage4 {
    background-color: #55f;
    font-family: Arial, Helvetica, sans-serif;
}

.webpage4 a {
    text-decoration: underline;
    cursor: pointer;
}

.webpage4 .article {
    width: min(100%, 1000px);
    margin: auto;
}

.webpage4 .admin{
    font-weight: bolder;
    text-shadow:1px 1px 3px#fff ;
    color: #a00;
    font-size: large;
}

.webpage4 .forum {

    background-color: #77f;
    padding: 20px;
    border-radius: 20px;
}

.webpage4 .clickable {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.webpage4 .clickable:hover {
    background-color: #aaf;
}

.webpage5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #f2a;
}

.webpage5 h1 {
    text-shadow: 4px 4px 0 #00f, 8px 8px 0 #000;
}


.webpage5 hr {
    border: none;
    height: 4px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 2px 2px 0 #00f, 4px 4px 0 #000;
}

.webpage6 {
    background-color: #aca;
}