html,
body {
    padding: 0px;
    margin: 0px;
}

.fullpage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: absolute;
    overflow-y: hidden;
}

nav {
    text-align: left;
    background-color: #335;
    padding: 20px 20px 0px 20px;
}

nav button.systemtab {
    background-color: #333;
    color: #0f0;
    font-family: monospace;
}

nav button.systemtab.selected {
    background-color: #000;
}

nav button {
    padding: 6px;
    border-radius: 12px 12px 0px 0px;
    cursor: pointer;
    font-weight: bold;
}

button.selected {
    background-color: #666;
    color: #fff;
}

#webpage {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.error {
    color: #f00;
}

.webpage0 {
    color: #0f0;
    background-color: #000;
    font-family: monospace;
    scrollbar-color: #0f0 #000;
}

.webpage0 .poemfragment{
    height: 120px
}
.webpage0 p,
.webpage0 input {
    font-size: large;
}

.webpage0 input,
.webpage0 button {
    color: #0f0;
    background-color: #000;
    font-family: monospace;
    padding: 10px;
    border-radius: 3px;
}

div.wikibox-break {
    display: inline-block;
    padding: 5px;
    border: 4px solid black;
}

div.wikibox-right {
    float: right;
    right: 20px;
    top: 20px;
    padding: 5px;
    border: 4px solid black;
    width: min(30%, 250px);
}

.webpage1 {
    color: #000;
    background-color: #fff;
}

.webpage1 h1 {
    margin: 20px 0px 20px 10px;
}

.webpage1 h2 {

    width: min(100%, 1000px);
    margin: auto;
}

.webpage1 .wiki-article {
    font-family: sans-serif;
    position: relative;
    width: min(100%, 1000px);
    margin: auto;

}

.webpage1 a {
    color: #00f;
    cursor: pointer;
    text-decoration: underline;
}

.webpage1 .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.webpage1 h1 span {
    padding: 3px;
    border-radius: 5px;
    background-color: #555;
    color: white;
}

.webpage2 {
    color: #000;
    background-color: #eec;
    font: georgia;
    scrollbar-color: #555 #eec;
}

.webpage2 th,
.webpage2 td {
    padding: 8px;
}

.webpage2 th {
    background-color: #000;
    color: white;
}

.webpage2 tr:nth-child(odd) {
    background-color: #ccc;
}

.webpage2 table {
    border-collapse: collapse;
    background-color: #fff;
}

.webpage2 a {
    cursor: pointer;
    text-decoration: underline;
}

.webpage2 a:hover {
    color: #888;
}


.webpage2 .articlestub {
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    margin: 0px;
}

.webpage2 hr {
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    /* Removes the default 3D border effect */
    height: 3px;
    /* Sets the thickness of the line */
    background-color: #333;
    /* Sets the color */
    margin: 20px 0;
    /* Adds spacing above and below */
}

.webpage2 .articlestub h3 {
    margin-top: 0px;
}

.webpage2 .articlestub p {
    margin-bottom: 0px;
}

.webpage2 .article {
    width: min(100%, 800px);
    margin: auto;
}

.webpage2 .articlestub:hover {
    color: #888;
    background-color: #fafade;
}


.webpage3 {
    background-color: #8a0;
    scrollbar-color: #222 #8a0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.webpage3 table {

    border-collapse: collapse;
}

.webpage3 th {
    background-color: #444;
    color: #eee;
}

.webpage3 td {
    background-color: #af1;
}

.webpage3 th,
.webpage3 td {
    padding: 10px;
}

.webpage3 .article {
    width: min(100%, 700px);
}

.webpage3 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.webpage3 hr,
.webpage4 hr {
    border: none;
    /* Removes the default 3D border effect */
    height: 3px;
    /* Sets the thickness of the line */
    background-color: #333;
    /* Sets the color */
    margin: 20px 0;
    /* Adds spacing above and below */
}

.webpage3 a {
    color: #11d;
    font-weight: bold;
    cursor: pointer;
}

.webpage3 a:hover {
    text-decoration: underline;
}

.webpage4 {
    scrollbar-color: #000 #99f;
    background-color: #99f;
    font-family: Arial, Helvetica, sans-serif;
}

.webpage4 a {
    text-decoration: underline;
    cursor: pointer;
}

.webpage4 .article {
    width: min(100%, 1000px);
    margin: auto;
}

.webpage4 .admin {
    font-weight: bolder;
    text-shadow: 1px 1px 3px#fff;
    color: #a00;
    font-size: large;
}

.webpage4 .forum {

    background-color: #aaf;
    padding: 20px;
    border-radius: 20px;
}

.webpage4 .clickable {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.webpage4 .clickable:hover {
    background-color: #aaf;
}

.webpage5 {
    scrollbar-color: #fff #e2a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #e2a;
}

.webpage5 h1 {
    text-shadow: 4px 4px 0 #00f, 8px 8px 0 #000;
    transition-duration: 500ms;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 16px 8px;
    background-color: #f4c;
    border-radius: 20px 0px 20px 0px;
}

.webpage5 .post {
    position: relative;
    padding: 15px;
    width: min(100%, 750px);
    margin: auto;
    border-radius: 15px;
    background-color: #f3b;
}

.webpage5 .reply {
    padding: 15px;
    margin-left: 10%;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #f3b;
    box-shadow: -5px 0px #fff;
}

.webpage5 .poststub {
    padding: 15px;
    width: min(100%, 550px);
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #f3b;
    box-shadow: 0px 0px 0 #000, 0px 0px 0 #000;
    cursor: pointer;
    transition-duration: 500ms;
}

.webpage5 .poststub:hover {
    box-shadow: -8px -8px 0 #00f, 8px 8px 0 #000;

    background-color: #f4d;
}

.webpage5 .poststub h3,
.webpage5 .post h2,
.webpage5 .reply h3,
.webpage5 .reply a {
    margin-top: 0px;
}

.webpage5 .reply p {
    margin-bottom: 8px;
}

.webpage5 .poststub .commentcount {
    margin-bottom: 0px;
}

.webpage5 h1:hover {
    text-shadow: -4px -4px 0 #00f, -8px -8px 0 #000;
    padding: 16px 8px 8px 16px;
}

.webpage5 a {
    text-shadow: 0px 0px 0 #000, 0px 0px 0 #000;
    padding: 16px 8px 8px 16px;
    cursor: pointer;
    transition-duration: 300ms;
}

.webpage5 a:hover {
    text-shadow: -4px -4px 0 #00f, 4px 4px 0 #000;
}


.webpage5 hr {
    border: none;
    height: 4px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 2px 2px 0 #00f, 4px 4px 0 #000;
}

.webpage6 {
    background-color: #aca;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.webpage6 hr {
    border: none;
    height: 4px;
    background-color: #000;
    margin: 20px 0;
}

.webpage6 .article {
    margin: auto;
    width: min(100%, 800px);
}
.webpage6 a {
    color:#00f;
    text-decoration: underline;
    cursor: pointer;
}
.webpage6 a.subtle {
    cursor: pointer;
    color:#000;
    text-decoration: none;
}
.webpage6 a.subtle:hover {
    color:#fff;
    text-decoration: underline;
}