html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
  }
  
  .count {
    font-weight: bolder;
    margin: 5px;
    background-color: darkgreen;
    color:white;
    line-height: 200%;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .hidden {
    display: none;
  }